body{
            margin: 0;
            font-family: Arial, sans-serif;
            background-color: #f4f6f9;
            color: #333;
        }

   header{
    animation: aparecerTopo 1s ease-out; /* animação */
    height: 80px; /* altura */
    display: flex; /* flexbox */
    align-items: center; /* alinha vertical */
    justify-content: center; /* centraliza */
    gap: 15px; /* espaçamento */
    background-color: #145374; /* cor */
    color: white; /* texto */
    position: fixed; /* fixa topo */
    top: 0;
    left: 0;
    width: 100%; /* largura total */
    z-index: 1000 !important; /* prioridade */
}

        header img{
    width: 200px; /* tamanho logo */
    filter: drop-shadow(0 2px 6px rgba(255,255,255,0.8)) brightness(1.1); /* sombra e brilho */
}

        header h1{
    margin-top: 0; /* remove espaço */
    font-size: 18px; /* tamanho texto */
    color: white   /* cor título */
}
        nav{
    background-color: #0a3d62; /* fundo menu */
    text-align: center; /* centraliza */
    padding: 10px; /* espaço interno */
    position: fixed; /* fixa menu */
    top: 80px; /* abaixo header */
    width: 100%;
    z-index: 999; /* camada */
}

        nav a{
            color: white;
            text-decoration: none;
            margin: 0 20px;
            font-size: 18px;
            font-weight: bold;
        }

        main{
    width: 90%; /* largura */
    margin: auto; /* centraliza */
    padding: 20px; /* espaço */
    margin-top:140px; /* espaço topo */
}

         article{
            background-color: #eef3f8;
            padding: 15px;
            margin: 15px 0;
            border-left: 5px solid #0a3d62;
            border-radius: 8px;
        }
         aside{
            background-color: #dff0ff;
            padding: 20px;
            border-radius: 10px;
        }

        footer{
            background-color: #0a3d62;
            color: white;
            text-align: center;
            padding: 20px;
        }

        h1{
    text-align: center;
}

form{
    width: 400px;
    margin: auto;
}

fieldset{
    border: 2px solid #333;
    padding: 20px;
    background-color: white;
}

legend{
    font-weight: bold;
}

input, select, textarea{
    width: 100%;
    padding: 8px;
    margin-top: 5px;
}

input::placeholder, textarea::placeholder{
    color: #888888;
    font-style: italic;
}



input:placeholder-shown{
    border: 2px solid red;
}

input:not(:placeholder-shown){
    border: 2px solid green;
}

input[type=submit], input[type=reset]{
    width: auto;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
}
